<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Mobile.master.cs" Inherits="Tech_Connect_Survey_Forms.Site_Mobile" %>
<%@ Register Src="~/ViewSwitcher.ascx" TagPrefix="friendlyUrls" TagName="ViewSwitcher" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <title></title>
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
    <link rel="stylesheet" href="css/modalanimate.css"/>
    <link rel="stylesheet" type="text/css" id="TCStyles" href="TechConnect Mobile Styles.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
</head>
<body>
    <form id="form1" runat="server">
        <div style="width:100%">

            <div style="height:100px; position:relative; background-color:#003E51">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/New UNB Logo Banner.png" Height="100%" ImageAlign="Left" Width="100%"  />
                <asp:Label ID="Label10" runat="server" Text="TechConnect" Style="position:absolute; right:20%; bottom:60%; color:white; font-family:'Segoe UI'; font-size:150%; font-weight:400"></asp:Label>
                <div style="position:absolute; right:2%; bottom:1%; z-index:100; "> 
                    <asp:Image ID="Image2" runat="server" ImageUrl="~/Images/Home.png" Style="height:30px" onclick="clickHome()" />
                    <asp:Button ID="HomeButton" runat="server" style="visibility:hidden" OnClick="HomeButton_Click" />
                </div>
                <asp:TextBox ID="TextBox1" runat="server" style="width:20%; visibility: hidden"  ></asp:TextBox>
                <asp:TextBox ID="TextBox2" runat="server" style="width:20%; visibility: hidden"  ></asp:TextBox>
                <asp:TextBox ID="TextBox3" runat="server" style="width:20%; visibility: hidden"  ></asp:TextBox>
                <asp:TextBox ID="TextBox4" runat="server" style="width:20%; visibility: hidden" ></asp:TextBox>
            </div>   

            <asp:ContentPlaceHolder runat="server" ID="FeaturedContent" />
            <section class="content-wrapper main-content clear-fix">
                <asp:ContentPlaceHolder runat="server" ID="MainContent" />
            </section>
            <%--<friendlyUrls:ViewSwitcher runat="server" />--%>
        </div>

        <div class="container body-content" >
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" >
            </asp:ContentPlaceHolder>
        </div>

    </form>

   <script type="text/javascript" >

        function clickHome() {
            var homeButton = document.getElementById('HomeButton');
            homeButton.click();
       }


       $(document).ready(function () {

           //document.getElementById('TextBox3').value = "Test 1";
           //document.getElementById('TextBox4').value = "Test 2";
       });

    </script>

</body>
</html>
