﻿body {
}
.MainDivStyle {
    margin-left: 1%;
    margin-right: 1%;
    /*background-color:cyan/*
}

.AdminMainDivStyle {
    margin-left: 4%;
    margin-right: 2%;
    opacity: 0.5;
    /*border:dashed;*/
}

.TechConnectLabelStyle {
    position: absolute;
    right: 20%;
    bottom: 60%;
    color: white;
    font-family: 'ITC Lubalin Graph Std';
    font-size: 150%;
    font-weight: 400;
}

.TechConnectLabelStyle2 {
    position: absolute;
    left: 63%;
    bottom: 19%;
    color: white;
    font-family: 'ITC Lubalin Graph Std';
    font-size: 150%;
    font-weight: 400;
}

.headerDivStyle {
    width: 100%;
    height: 25px;
}

.headerDivStyle2 {
    padding-bottom: 2%;
    padding-top: 10px;
    /*border:dotted;*/
}

.LabelMainDivStyle {
    padding-top:5px;
    width: 100%;
    /*background-color:aquamarine;
    border:dashed;*/
}

.LabelMainStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 165%;
    /*border:double;*/
}

.LabelMainStyleShort {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 50%;
}

.HiddenTextStyle {
    visibility: hidden;
    width: 7%;
}

.LabelDivStyle {
    /*background-color:aquamarine;*/
    display: grid;
    grid-template-columns: 15% 15% 15% 22% 15% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
    width: 98%;
}

.LabelSuggestionsDivStyle {
    /*background-color:aquamarine;*/
    display: grid;
    grid-template-columns: 3% 43% 43% 5%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
    width: 100%;
    /*background-color:coral*/
}

.LabelFServiceDivStyle {
    /*background-color:aquamarine;*/
    display: grid;
    grid-template-columns: 3% 43% 43% 5%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
    width: 100%;
    background-color:coral
}

.LabelDivStyleCompressed {
    /*background-color:aquamarine;*/
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
}

.LabelDivStyle2 {
    /*background-color:aqua;*/
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 22% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
    width: 98%;
}

.LabelColumnStyle {
    /*background-color:blueviolet;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;

}

.LabelColumnStyleAdmin {
    /*background-color:blueviolet;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    width: 100%
    /*background-color:aqua*/
}

.LabelColumnStyle2 {
    /*background-color: cornflowerblue;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    /*background-color:aquamarine*/
}

.LabelKVAAmpsDivStyle {
    padding-top: 1%;
    position: relative;
    /*background-color:aquamarine*/
}

.LabelKVADivStyle {
    position: absolute;
    top: 10px;
    /*padding-left: 5%*/
}

.LabelColumnC2Style {
    /*background-color: purple;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
}

.borderDivStyle {
    border: inset;
    border-bottom: none;
    border-color: lightgray;
    border-width: 2px;
    height: 100%;
    width:95%
}

.voltsAmpsDivStyle {
    /*background-color:coral;*/
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 30px;
    padding-top: 5px;
    /*visibility:hidden*/
}

.SurfaceVoltsAmpsDivStyle {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 30px;
    padding-top: 4px;
    text-align: center;
    padding-left:3px;
    padding-right:3px;
    /*background-color:chartreuse*/
}

.VoltsAmpsLabelsDivStyle {
    /*background-color:goldenrod;*/
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 5px;
    position: absolute;
    padding-top: 7px;
}

.LabelVoltsStyle {
    /*background-color:mediumturquoise;*/
    grid-column: 1;
    grid-row: 1;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 14px;
    /*padding-left: 18%;*/
    width: 100%;
}

.LabelAmpsStyle {
    grid-column: 2;
    grid-row: 1;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 14px;
    /*padding-left: 12%;*/
    width: 90%;
}

.LabelKVAStyle {
    /*background-color: mediumturquoise;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    width: 100%;
    padding-top: 4%;
}

.KVAAmpsToggleStyle {
    /*background-color:grey;*/
    grid-column: 1;
    grid-row: 1;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 18px;
    height: 100%;
    /*background-color: aquamarine*/
}

.VoltsAmpsToggleStyle {
    /*background-color:grey;*/
    grid-column: 1;
    grid-row: 1;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 14px;
    height: 50%;
    width:100%
    /*background-color: mediumturquoise;*/
}

.VAToggleStyle {
    /*background-color:grey;*/
    grid-column: 1;
    grid-row: 1;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 14px;
    height: 50%;
    width: 100%;
    background-color: mediumturquoise;
}

.VoltsAmpsToggleAdminStyle {
    /*background-color:grey;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    height: 100%;
    width: 100%
}

.SurfaceVoltsAmpsToggleStyle {
    /*background-color:grey;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 18px;
    height: 100%;
}

.LabelColumnFStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 6%;
}

.LabelGColCompressed {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 0%;
}

.LabelGColExpanded {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 6%;
}

.LabelHColCompressed {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 0%;
}

.LabelHColExpanded {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 6%;
}

.LabelAsteriskStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: red;
    font-size: 115%;
    padding-top: 4%;
    font-weight: bold;
}

.LabelAddCommentsStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
}

.LabelSeverityStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
}

.LabelMaxFilesStyle {
    font-family: 'Segoe UI';
    color: red;
    font-size: 80%;
    height: 100%;
    background-color:white;
}

.DropdownDivStyle {
    display: grid;
    grid-template-columns: 15% 15% 15% 22% 15% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 165px;
    width: 98%;
}

.DropdownSuggestionsDivStyle {
    display: grid;
    grid-template-columns: 3% 43% 43% 5%;
    grid-gap: 15px;
    grid-auto-rows: 60px;
    width: 100%;
    /*background-color:cornflowerblue*/
}

.DropdownFServiceDivStyle {
    display: grid;
    grid-template-columns: 3% 43% 43% 5%;
    grid-gap: 15px;
    grid-auto-rows: 60px;
    width: 100%;
    background-color:cornflowerblue
}

.DropdownDivStyleCompressed {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    grid-gap: 15px;
    grid-auto-rows: 165px;
}

.DropdownDivStyleSurface {
    /*background-color:cornflowerblue;*/
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 22% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 165px;
    width: 98%;
}

.TextBoxesDivStyleAdmin {
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 5%;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 40% 15% 40%;
    grid-auto-rows: 30px;
    width: 94%;
}

.TextBoxesDivStyleAdminShading {
    display: grid;
    grid-template-columns: 47% 6% 47%;
    grid-auto-rows: 40px;
    width: 98%;
}

.TextBoxesDivStyleAdminCell {
    display: grid;
    grid-template-columns: 45% 20% 20%;
    grid-auto-rows: 40px;
    width: 98%;
}

.UpdatePanelPadding {
    padding-top: 4%;
}

.ColALabelSuggestionDivStyle {
    /*padding-top: 4%;*/
    grid-column:1;
    grid-row: 1;
    /*background-color:magenta*/
}

.ColALabelFServicenDivStyle {
    /*padding-top: 4%;*/
    grid-column: 1;
    grid-row: 1;
    /*background-color:magenta*/
}

.ColALabelSCenterDivStyle {
    /*padding-top: 4%;*/
    grid-column: 1;
    grid-row: 1;
}

.ColBLabelSuggestionDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:mediumorchid*/
}

.ColBLabelFServiceDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:mediumorchid*/
}

.ColBLabelSCenterDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:mediumorchid*/
}

.DropdownColumnStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    max-height: 28px;
}

.DropdownColumnSurfaceStyle {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    max-height: 28px;
}

.DropdownColumnStyleOverflow {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    overflow-y: scroll;
}

.OptionCDropdownStyle {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    /*visibility: hidden*/
}
/*
.OptionFDropDownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: #003E51;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
}*/

.OptionEDropDownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    /*color: #003E51;*/
    font-size: 75%;
    height: 30px;
    /*padding-left: 5px;*/
}

.OptionFDropDownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    /*color: gray;*/
    font-size: 75%;
    height: 30px;
    /*padding-left: 5px;*/
}

.OptionDandEDropdownStyle {
    padding-left: 2%;
    width: 87%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
}

.SeverityDropDownListStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: #003E51;
    font-size: 100%;
    height: 37px;
    padding-left: 2%;
}

.OptionBListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 115px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}

.OptionBDDListBoxStyle {
    width: 100%;
    /*overflow-y: auto;*/
    font-family: 'Segoe UI';
    color: darkblue;
    height: 37px;
    font-size: 100%;
    padding-left: 2%;
}

.OptionC2ListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 115px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}

.OptionCListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 135px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}

.OptionGListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 135px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    text-align: right;
    padding-right: 10%
}

.ListBoxFileUploadStyle {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI';
    color: #003E51;
    font-size: 80%;
    padding-left: 1%;
}

.ListViewFileUploadStyle {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 80%;
    padding-left: 1%;
    /*background-color:chartreuse*/
}
.UploadOptionsDiv1IandSStyle {
    grid-column: 4;
    grid-row: 5;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    border-bottom: inset;
    height: 30px;
    /*background-color:aqua;*/
}

.ColCOptionSelectButtonStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 29px;
    padding-left: 3%;
    background-color:deeppink;
    text-align: left;
    border-width: 1px;
    border-color: darkgray
}

.ColG_OptSelButtonBS {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 29px;
    padding-left: 5%;
    background-color: white;
    text-align: left;
    border-width: 1px;
    border-color: darkgray;
}

.ColG_OptSelButtonAS {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 29px;
    padding-right: 5%;
    background-color: white;
    text-align: right;
    border-width: 1px;
    border-color: darkgray;
}

.HiddenButtonStyle {
    visibility: hidden;
}

.TypeTextStyle {
    width: 94%;
    height: 20px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 3%;
    background-color: #f8f9fa;
}

.SizeTextStyle {
    width: 94%;
    height: 20px;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}

.PulseTextStyle {
    width: 94%;
    height: 20px;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}

.StagesTextStyle {
    width: 94%;
    height: 20px;
    text-align: right;
    padding-left: 3%;
    /*padding-right: 3%;*/
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: white;
}

.TandemTextStyle {
    width: 94%;
    height: 20px;
    padding-left: 3%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}

.AdditionalCommentsTextBoxStyle {
    min-height: 120px;
    max-height: 270px;
    min-width: 97%;
    max-width: 97%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
    border-color: #003E51;
}

.ButtonSubmitStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    width: 75%;
    height: 40px;
    border-radius: 5px;
    font-weight:bold;
}

.AFButtonStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    width: 33%;
    height: 37px;
    border-radius: 5px;
}

.AFButtonIandSStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    width: 95%;
    height: 32px;
    border-radius: 5px;
}

.FileUploadStyle {
    position: absolute;
    left: 0;
    top: 1px;
    font-family: 'Segoe UI';
    color: transparent;
    font-size: 90%;
    height: 100%
}

.ButtonDeleteClearStyle {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    font-family: 'Segoe UI';
    color: black;
    font-size: 85%;
}

.ModalPopupBtnCloseStyle {
    background-color: #003e52;
    color: white;
    font-family: 'ITC Lubalin Graph Std';
    font-size: 90%;
    width: 50%;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ModalPopupBannerDivStyle {
    width: 100%;
    background-color: #e24724;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align:center;
}

.ModalPopupBannerStyle1 {
    padding-left: 3%;
}

.ModalPopupBannerStyle {
    padding-left: 1%;
}

.ModalPopupLabelDivStyle1 {
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 85%;
    padding-top: 3%;
    text-align: center;
}

.ModalPopupLabelDivStyle2 {
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 85%;
    padding-top: 1%;
    text-align: center;
}

.ModalPopupBtnCloseDivStyle {
    position: absolute;
    bottom: 4%;
    margin-left: auto;
    margin-right: 2%;
    right: 0;
    text-align: right;
    width: 50%;
}

.ModalPopupLabelStyle1 {
    padding-left: 3%;
    padding-right: 1%
}

.ModalPopupLabelStyle {
	padding-left:1%;
    padding-right:1%
}

.VoltsAmpsTextBoxStyle {
    width: 85%;
    padding-left: 5px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 79%;
    background-color: #f8f9fa;
    height: 20px;
    border: inset;
    border-color: lightgray;
    border-width: 1px;
    /*background-color:coral*/
}

.KVATextBoxStyle {
    width: 100%;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
    height: 20px;
    background-color:aqua
}

.OptionEandEDropdownStyle {
    padding-left: 2%;
    width: 87%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
}

.OptionEDropdown {
    padding-left: 2%;
    width: 89%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px
}

.VoltsAmpsDropdownDivStyle {
    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-gap: 5px;*/
    grid-auto-rows: 30px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    /*background-color:aquamarine*/
}

.VoltsandAmpsDropdownDivStyle {
    /*grid-column: 4;*/
    grid-column: 1;
    grid-row: 1;
    height: 35px;
    border: inset;
    border-top: none;
    border-width: 1px;
    border-color: lightgray;
    /*background-color: coral;*/
}

.VoltsDropdownDivStyle {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    text-align: center;
    /*background-color: cornflowerblue*/
}

.AmpsDropdownDivStyle {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    text-align: center;
    /*background-color:chartreuse*/
}

.OptionGDropdownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
}

.SeriesTextStyle {
    width: 94%;
    padding-left: 3%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
    height: 20px;
}

.AdditionalCommentsDivStyle1 {
    display: grid;
    grid-template-columns: 12% 46% 4% 22% 12%;
    grid-auto-rows: 30px;
    width: 98%;
}
.AdditionalCommentsDivStyle {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-auto-rows: 30px;
    width: 100%;
    /*background-color:aqua*/
}

.ControlRowDivStyle {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-auto-rows: 30px;
    width: 100%;
    /*background-color:aqua*/
}

.ButtonPortrait {
    width: 30%;
    height: 100%;
}

.LogoControlRowDivStyle {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-auto-rows: 50px;
    width: 100%;
    text-align:center;
}

.AdditionalCommentsIandSDivStyle {
    display: grid;
    grid-template-columns: 16% 46% 4% 22% 12%;
    grid-auto-rows: 30px;
    width: 90%;
    /*background-color:aqua*/
}

.UpdatePanelAddCommentsDiv1Style1 {
    display: grid;
    grid-template-columns: 12% 46% 4% 22% 12%;
    grid-auto-rows: 60px;
    width: 98%;
}

.UpdatePanelAddCommentsDiv1Style {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-auto-rows: 60px;
    width: 100%;
    /*background-color:aquamarine*/
}

.UpdatePanelAddCommentsIandSDiv1Style {
    display: grid;
    grid-template-columns: 15% 46% 2% 12% 1% 12%;
    grid-auto-rows: 50px;
    width: 98%;
    /*background-color:aquamarine*/
}

.UpdatePanelAddCommentsDiv2Style1 {
    grid-column: 2;
    grid-row: 1;
    padding-left: 15px;
    /*background-color:cornflowerblue*/
}

.UpdatePanelAddCommentsDiv2Style {
    grid-column: 2;
    grid-row: 1;
    /*background-color:cornflowerblue*/
}

.LabelSeverityDivStyle1 {
    grid-column: 4;
    grid-row: 1;
}

.LabelSeverityDivStyle {
    grid-column: 2;
    grid-row: 3;
    /*background-color:lightskyblue;*/
    padding-top:30px
}

.LabelAddCommentsDivStyle {
    grid-column: 2;
    grid-row: 2;
    /*background-color:aquamarine*/
}

.LabelAddCommentsDivIandSStyle {
    grid-column: 2;
    grid-row: 1;
    padding-left: 5px;
    /*background-color: aquamarine*/
}

.UpdatePanelSubmitButtonDivStyle1 {
    grid-column: 5;
    grid-row: 1;
    padding-left: 15px;
    text-align: left;
    /*background-color:mediumorchid*/
}

.UpdatePanelSubmitButtonDivStyle {
    grid-column: 2;
    grid-row: 5;
    text-align: center;
    padding-top:3px;
    /*background-color:mediumorchid*/
}

.UpdatePanelSubmitButtonIdeasDivStyle {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    padding-top: 3px;
    /*background-color:mediumorchid*/
}

.UpdatePanelSubmitButtonIandSDivStyle {
    grid-column: 6;
    grid-row: 1;
    padding-left: 15px;
    text-align: right;
    /*background-color:mediumorchid*/
}

.AttachFilesDivStyle {
    grid-column: 3;
    grid-row: 1;
    padding-left: 15px;
    text-align: right
}

.DivPaddingLeft {
    padding-left: 5%
}

.LabelMaxFilesDivStyle {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
}

.UploadOptionsDiv1Style1 {
    grid-column: 4;
    grid-row: 5;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    border-bottom: inset;
    height: 35px;
    /*background-color:chartreuse*/
}

.UploadOptionsDiv1Style {
    grid-column: 2;
    grid-row: 6;
    /*border-left: inset;
    border-bottom: inset;
    border-right: inset;*/
    border: solid;
    border-width: 1px;
    border-color: #003E51;
    width: 100%;
    height: 35px;
}

.UploadOptionsDiv2Style {
    display: grid;
    grid-template-columns: 55% 20% 20%;
    grid-gap: 5px;
    grid-auto-rows: 35px;
    width: 100%;
    background-color: #003E51;
    border-color: #003E51;
    border-width: 2px;
}

.ListBoxFileUploadDivStyle1 {
    grid-column: 4;
    grid-row: 2;
    border-left: inset;
    border-right: inset;
    border-color: #003E51;
    border-width: 2px;
    width: 100%;
    text-align: left;
    height: 75px;
}



.ListBoxFileUploadDivStyle {
    grid-column: 2;
    grid-row: 2;
    /*border-left: inset;
    border-right: inset;*/
    border-color: #003E51;
    border-width: 2px;
    width: 100%;
    text-align: left;
    /*height: 75px;*/
    color: #003E51;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: #003E51;
}

.UploadOptionsDivTwoButtonStyle {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 0px;
    grid-auto-rows: 35px;
    width: 100%;
}

.UploadOptionsLeftDivStyle {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-top: 2%;
}

.UploadOptionsRightDivStyle {
    grid-column: 2;
    grid-row: 1;
}

.UploadLabelStyle {
    font-size: 67%;
    color: gray;
    text-align: right;
    background-color: white;
}

.TableViewFileUploadDivStyle {
    grid-column: 2;
    grid-row: 3;
    /*border-left: inset;
    border-right: inset;
    border-color: #003E51;
    background-color:aquamarine;*/
    border: solid;
    border-color: #003E51;
    border-width: 1px;
    width: 100%;
    text-align: left;
    height: 104px;
    color: #003E51;
}

.TableContainerDiv {
    /*overflow-y: auto;*/
    height: 100px;
    background-color:midnightblue
}

.TableRowStyle {
    height:25px;
    border:dashed;
}

.modalBackground {
    background-color: lightgray;
    filter: alpha(opacity=90);
    opacity: 0.6;
}

.modalPopup {
    background-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    border-color: #003E51;
    width: 80%;
    height: 50%;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
}

.DEOOptionsC_DivStyle {
    grid-column: 3;
    grid-row: 1;
}

.DEOOptionsC2_DivStyle {
    grid-column: 4;
    grid-row: 1;
}

.DEOOptionsF_DivStyle {
    grid-column: 5;
    grid-row: 1;
    padding-left: 5%;
}

.OptionHDropdownDivStyle {
    grid-column: 7;
    grid-row: 1;
}

.OptionGDropdownDivStyle {
    grid-column: 6;
    grid-row: 1;
}

.OptionBDropdownDivStyle {
    grid-column: 2;
    grid-row: 1
}

.OptionBDropdownSuggestionDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:chartreuse;*/
}

.OptionBDropdownFServiceDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:chartreuse;*/
}

.OptionBDropdownSCenterDivStyle {
    grid-column: 2;
    grid-row: 1;
}

.ControlDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:aquamarine*/
}

.OptionsDivStyle {
    grid-column: 1;
    grid-row: 1;
}

.OptionsSuggestionDivStyle {
    grid-column: 1;
    grid-row: 1;
    /*background-color:aquamarine*/
}

.OptionsFServiceDivStyle {
    grid-column: 1;
    grid-row: 1;
    /*background-color:chartreuse*/
}

.TwoColumnsDivStyle {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-auto-rows: 60px;
    width: 100%;
    grid-gap: 5px;
    /*background-color:deepskyblue*/
}

.AFButtonDiv1Style1 {
    display: grid;
    grid-template-columns: 12% 45% 5% 30%;
    grid-auto-rows: 40px;
    width: 98%;
    /*background-color:deepskyblue*/
}

.AFButtonDiv1Style {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-auto-rows: 50px;
    width: 100%;
    /*background-color: deepskyblue*/
}

.AFButtonDiv2Style {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    text-align: left;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 10%;
    /*background-color:mediumpurple*/
}

.AFButtonDivIandSStyle {
    grid-column: 4;
    grid-row: 1;
    grid-row: 1;
    width: 100%;
    text-align: left;
    height: 80%;
    /*padding-top: 2%;*/
    /*background-color: mediumpurple*/
}

.FileUploadControlDiv1Style1 {
    display: grid;
    grid-template-columns: 12% 45% 5% 34%;
    grid-auto-rows: 35px;
    padding-top: 10px;
    width: 98%;
    /*background-color:aqua*/
}

.FileUploadControlDiv1Style {
    display: grid;
    grid-template-columns: 3% 94% 3%;
    grid-auto-rows: 35px;
    padding-top: 10px;
    width: 100%;
    /*border-color: #003E51;
    background-color: aqua
    border-width: 2px;*/
}

.FileUploadControlDiv1IandSStyle {
    display: grid;
    grid-template-columns: 12% 45% 6% 34%;
    grid-auto-rows: 25px;
    /*padding-top: 5px;*/
    width: 98%;
    /*background-color: hotpink*/
}

.TechConnectImageDivStyle {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.ButtonDeleteDivStyle {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    padding-top: 4%;
}

.ButtonClearDivStyle {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    padding-top: 4%;
}

.FileUploadControlDiv2Style1 {
    grid-column: 4;
    grid-row: 1;
    border-top: inset;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    position: relative;
}

.FileUploadControlDiv2Style {
    grid-column: 2;
    grid-row: 1;
    /*border-top: inset;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;*/
    width: 100%;
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: #003E51;
}

.FileUploadControlDiv3Style {
    width: 100%;
    height: 100%;
    background-color: #00857D;
}

.OptionHDropdownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%
}

.SeverityDropDownListDiv1Style1 {
    grid-column: 4;
    grid-row: 1;
}

.SeverityDropDownListDiv1Style {
    grid-column: 2;
    grid-row: 4;
}

.SeverityDropDownListDiv2Style {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 35px;
    width: 100%;
}

.SeverityDropDownListDiv3Style1 {
    grid-column: 1;
    grid-row: 1;
}
.SeverityDropDownListDiv3Style {
    grid-column: 2;
    grid-row:3;
}

