﻿body {
}
.MainDivStyle {
    margin-left: 4%;
    margin-right: 2%;

    /*border:dashed;*/
}
.AdminMainDivStyle {
    margin-left: 4%;
    margin-right: 2%;
    opacity: 0.5;
    /*border:dashed;*/
}
.TechConnectLabelStyle {
    position: absolute;
    left: 60%;
    bottom: 40%;
    color: white;
    font-family: 'ITC Lubalin Graph Std';
    font-size: 170%;
    font-weight: 400;
}
.TechConnectLabelStyle2 {
    position: absolute;
    left: 63%;
    bottom: 19%;
    color: white;
    font-family: 'ITC Lubalin Graph Std';
    font-size: 150%;
    font-weight: 400;
}
.headerDivStyle {
    width: 98%;
    height: 35px;
}
.headerDivStyle2 {
    padding-bottom: 2%;
    padding-top: 10px;
    /*border:dotted;*/
}
.LabelMainDivStyle {
    padding-top: 10px;
    width: 98%;
    /*background-color:aquamarine;
    border:dashed;*/
}
.LabelMainStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 195%;
    /*border:double;*/
}
.LabelMainStyleAdmin {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 165%;
    /*border:double;*/
}

.LabelMainStyleAdmin1 {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 165%;
    /*border:double;*/
}
.LabelSecondaryStyleAdmin {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 125%;
    padding-left:2%
    /*border:double;*/
}
.LabelMainStyleShort {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 50%;
}
.HiddenTextStyle {
    visibility: hidden;
    width: 7%
}
.LabelDivStyle {
    /*background-color:aquamarine;*/
    display: grid;
    grid-template-columns: 15% 15% 15% 22% 15% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
    width:98%;
}
.LabelDivStyleCompressed {
    /*background-color:aquamarine;*/
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
}
.LabelDivStyle2 {
    /*background-color:aqua;*/
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 22% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 40px;
    width: 98%;
}
.LabelColumnStyle {
    /*background-color:blueviolet;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    /*background-color:aqua*/
}
.LabelColumnStyleAdmin {
    /*background-color:blueviolet;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    width:100%
    /*background-color:aqua*/
}
.LabelColumnStyle2 {
    /*background-color: cornflowerblue;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    /*background-color:aquamarine*/
}
.LabelKVAAmpsDivStyle {
    padding-top:1%;
    position: relative;
}
.LabelKVADivStyle {
    position: absolute;
    top: 10px;
    /*background-color:aqua;*/
    padding-left: 5%
}
.LabelColumnC2Style {
    /*background-color: purple;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
}
.borderDivStyle {
    border: inset;
    border-bottom: none;
    border-color: lightgray;
    border-width: 1px;
    height: 100%;
    /*background-color:aqua*/
}
.voltsAmpsDivStyle {
    /*background-color:coral;*/
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
    grid-auto-rows: 30px;
    position: relative;
    padding-top: 4px;
    padding-left: 1%;
}
.SurfaceVoltsAmpsDivStyle {
    /*background-color:coral;*/
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
    grid-auto-rows: 30px;
    position: relative;
    padding-top: 4px;
    padding-left: 1%;
}
.VoltsAmpsLabelsDivStyle {
    /*background-color:goldenrod;*/
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 5px;
    position: absolute;
    padding-top: 7px;
}
.LabelVoltsStyle {
    /*background-color:mediumturquoise;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-left: 18%;
    width: 90%;
}
.LabelAmpsStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-left: 12%;
    width: 90%;
}
.LabelKVAStyle {
    /*background-color: mediumturquoise;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-left: 7%;
    width: 90%;
    padding-top:4%
}
.VoltsAmpsToggleStyle {
    /*background-color:grey;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 18px;
    height: 100%;
}
.VoltsAmpsToggleAdminStyle {
    /*background-color:grey;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    height: 100%;
    width: 100%
}
.SurfaceVoltsAmpsToggleStyle {
    /*background-color:grey;*/
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 18px;
    height: 100%;
}
.LabelColumnFStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 6%;
}
.LabelGColCompressed {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 0%;
}
.LabelGColExpanded {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 6%;
}
.LabelHColCompressed {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 0%;
}
.LabelHColExpanded {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
    padding-left: 6%;
}
.LabelAsteriskStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: red;
    font-size: 115%;
    padding-left: 2%;
    padding-top: 4%;
    font-weight: bold;
}
.LabelAddCommentsStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
}
.LabelSeverityStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
    padding-top: 4%;
}
.LabelMaxFilesStyle {
    font-family: 'Segoe UI';
    color: red;
    font-size: 80%;
    height: 80%;
}
.DropdownDivStyle {
    display: grid;
    grid-template-columns: 15% 15% 15% 22% 15% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 165px;
    width:98%;
}
.DropdownDivStyleCompressed {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    grid-gap: 15px;
    grid-auto-rows: 165px;
}
.DropdownDivStyleSurface {
    /*background-color:cornflowerblue;*/
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 22% 15% 15%;
    grid-gap: 15px;
    grid-auto-rows: 165px;
    width:98%;
}
.TextBoxesDivStyleAdmin {
    padding-top: 1%;
    padding-bottom:2%;
    padding-left: 5%;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 40% 15% 40%;
    grid-auto-rows: 30px;
    width: 93%;
}
.TextBoxesDivStyleAdminShading {
    display: grid;
    grid-template-columns: 47% 6% 47%;
    grid-auto-rows: 35px;
    width: 96%;
    padding-left:2%;
}
.TextBoxesDivStyleAdminCell {
    display: grid;
    grid-template-columns: 45% 20% 20%;
    grid-auto-rows: 40px;
    width: 98%;
}
.UpdatePanelPadding {
    padding-top: 4%;
}
.DropdownColumnStyle {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    max-height: 28px;
}
.DropdownColumnSurfaceStyle {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    max-height: 28px;
}

.DropdownColumnStyleOverflow {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    overflow-y: scroll;
}
.OptionCDropdownHidden {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
    visibility: hidden
}
.OptionFDropDownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
}
.SeverityDropDownListStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
}
.OptionBListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 115px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}
.OptionC2ListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 115px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}
.OptionCListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 135px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}
.OptionGListBoxStyle {
    width: 95%;
    overflow-y: auto;
    height: 135px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    text-align: right;
    padding-right: 10%
}
.ListBoxFileUploadStyle {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 80%;
    padding-left: 1%;
}

.UploadOptionsDiv1IandSStyle {
    grid-column: 4;
    grid-row: 5;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    border-bottom: inset;
    height: 30px;
    /*background-color:aqua;*/
}
.ColCOptionSelectButtonStyle {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 29px;
    padding-left: 3%;
    background-color: white;
    text-align: left;
    border-width: 1px;
    border-color: darkgray
}
.ColG_OptSelButtonBS {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 29px;
    padding-left: 5%;
    background-color: white;
    text-align: left;
    border-width: 1px;
    border-color: darkgray;
}
.ColG_OptSelButtonAS {
    width: 95%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 29px;
    padding-right: 5%;
    background-color: white;
    text-align: right;
    border-width: 1px;
    border-color: darkgray;
}
.HiddenButtonStyle {
    visibility: hidden;
}
.TypeTextStyle {
    width: 93%;
    height: 24px;
    max-width: 93%;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}
.SizeTextStyle {
    width: 89%;
    height: 24px;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}
.PulseTextStyle {
    width: 89%;
    height: 23px;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}
.StagesTextStyle {
    width: 94%;
    max-width: 94%;
    height: 24px;
    text-align: right;
    padding-left: 4%;
    padding-right: 5%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: white;
}
.TandemTextStyle {
    width: 94%;
    max-width: 94%;
    height: 24px;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
}
.AdditionalCommentsTextBoxStyle {
    min-height: 83px;
    max-height: 270px;
    min-width: 97%;
    max-width: 97%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 2%;
}
.ButtonSubmitStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    width: 100%;
    height: 32px;
    border-radius: 5px;
}
.AFButtonStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    width: 28%;
    height: 32px;
    border-radius: 5px;
}
.AFButtonIandSStyle {
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 100%;
    width: 95%;
    height: 32px;
    border-radius: 5px;
}
.FileUploadStyle {
    position: absolute;
    left: 0;
    top: 1px;
    font-family: 'Segoe UI';
    color: transparent;
    font-size: 90%;
    height: 100%
}
.ButtonDeleteClearStyle {
    width: 90%;
    height: 85%;
    border-radius: 5px;
    font-family: 'Segoe UI';
    color: black;
    font-size: 85%;
}
.ModalPopupBtnCloseStyle {
    background-color: #003e52;
    color: white;
    font-family: 'ITC Lubalin Graph Std';
    font-size: 90%;
    width: 50%;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
}
.ModalPopupBannerDivStyle {
    width: 100%;
    background-color: #e24724;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}
.ModalPopupBannerStyle {
    padding-left: 3%;
}
.ModalPopupLabelDivStyle1 {
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 85%;
    padding-top: 3%;
    padding-right: 1%;
}
.ModalPopupLabelDivStyle2 {
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 85%;
    padding-right: 1%;
    padding-top: 1%
}
.ModalPopupBtnCloseDivStyle {
    position: absolute;
    bottom: 4%;
    margin-left: auto;
    margin-right: 2%;
    right: 0;
    text-align: right;
    width: 50%;
}
.ModalPopupLabelStyle {
    padding-left: 3%;
    padding-right: 1%
}
.VoltsAmpsTextBoxStyle {
    width: 80%;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
    height:24px;
}
.KVATextBoxStyle {
    width: 80%;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
    height: 23px;
}
.OptionDandEDropdownStyle {
    padding-left: 2%;
    width: 87%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
}
.OptionEDropdown {
    padding-left: 2%;
    width: 89%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px
}
.VoltsAmpsDropdownDivStyle {
    display: grid;
    grid-template-columns: 49% 50%;
    grid-gap: 1px;
    grid-auto-rows: 100px;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    padding-left: 7%;
    /*background-color:aquamarine*/
}
.VoltsandAmpsDropdownDivStyle {
    grid-column: 4;
    grid-row: 1;
    height: 60px;
    border: inset;
    border-top: none;
    border-width: 1px;
    border-color: lightgray;
    /*background-color:blueviolet*/
}
.VoltsDropdownDivStyle {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
}
.AmpsDropdownDivStyle {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
}
.OptionGDropdownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%;
}
.SeriesTextStyle {
    width: 94%;
    max-width: 94%;
    padding-left: 4%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    background-color: #f8f9fa;
    height:24px;
}
.AdditionalCommentsDivStyle {
    display: grid;
    grid-template-columns: 12% 46% 4% 22% 12%;
    grid-auto-rows: 30px;
    width:98%;
}
.AdditionalCommentsIandSDivStyle {
    display: grid;
    grid-template-columns: 16% 46% 4% 22% 12%;
    grid-auto-rows: 30px;
    width: 90%;
    /*background-color:aqua*/
}
.UpdatePanelAddCommentsDiv1Style {
    display: grid;
    grid-template-columns: 12% 46% 4% 22% 12%;
    grid-auto-rows: 50px;
    width: 98%;
}
.UpdatePanelAddCommentsIandSDiv1Style {
    display: grid;
    grid-template-columns: 15% 46% 2% 12% 1% 12%;
    grid-auto-rows: 50px;
    width: 98%;
    /*background-color:aquamarine*/
}
.UpdatePanelAddCommentsDiv2Style {
    grid-column: 2;
    grid-row: 1;
    padding-left: 15px; 
    /*background-color:cornflowerblue*/
}
.LabelSeverityDivStyle {
    grid-column: 4;
    grid-row: 1;
}
.LabelAddCommentsDivStyle {
    grid-column: 2;
    grid-row: 1;
    /*background-color:aquamarine*/
}
.LabelAddCommentsDivIandSStyle {
    grid-column: 2;
    grid-row: 1;
    padding-left:5px;
    /*background-color: aquamarine*/
}
.UpdatePanelSubmitButtonDivStyle {
    grid-column: 5;
    grid-row: 1;
    padding-left: 15px;
    text-align: right; 
    /*background-color:mediumorchid*/
}
.UpdatePanelSubmitButtonIandSDivStyle {
    grid-column: 6;
    grid-row: 1;
    padding-left: 15px;
    text-align: right;
    /*background-color:mediumorchid*/
}
.AttachFilesDivStyle {
    grid-column: 3;
    grid-row: 1;
    padding-left: 15px;
    text-align: right
}
.DivPaddingLeft {
    padding-left: 5%
}
.LabelMaxFilesDivStyle {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
}
.UploadOptionsDiv1Style {
    grid-column: 4;
    grid-row: 5;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    border-bottom: inset;
    height: 35px;
}
.UploadOptionsDiv2Style {
    display: grid;
    grid-template-columns: 59% 18% 18%;
    grid-gap: 5px;
    grid-auto-rows: 35px;
    width: 100%;
    /*background-color:lightgray;*/
}
.ListBoxFileUploadDivStyle {
    grid-column: 4;
    grid-row: 2;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    text-align: left;
    height: 75px;
}
.modalBackground {
    background-color: lightgray;
    filter: alpha(opacity=90);
    opacity: 0.6;
}
.modalPopup {
    background-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    border-color: #003E51;
    width: 35%;
    height: 25%;
    font-family: 'ITC Lubalin Graph Std';
    color: #003E51;
    font-size: 115%;
}
.DEOOptionsC_DivStyle {
    grid-column: 3;
    grid-row: 1;
}
.DEOOptionsC2_DivStyle {
    grid-column: 4;
    grid-row: 1;
}
.DEOOptionsF_DivStyle {
    grid-column: 5;
    grid-row: 1;
    padding-left: 5%;
}
.OptionHDropdownDivStyle {
    grid-column: 7;
    grid-row: 1;
}
.OptionGDropdownDivStyle {
    grid-column: 6;
    grid-row: 1;
}
.OptionBDropdownDivStyle {
    grid-column: 2;
    grid-row: 1
}
.OptionsDivStyle {
    grid-column: 1;
    grid-row: 1;
}
.AFButtonDiv1Style {
    display: grid;
    grid-template-columns: 12% 45% 5% 30%;
    grid-auto-rows: 40px;
    width:98%;
    /*background-color:deepskyblue*/
}
.AFButtonDiv2Style {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    text-align: left;
    height: 90%;
    padding-top: 2%;
    /*background-color:mediumpurple*/
}
.AFButtonDivIandSStyle {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    text-align: left;
    height: 80%;
    /*padding-top: 2%;*/
    /*background-color: mediumpurple*/
}
.FileUploadControlDiv1Style {
    display: grid;
    grid-template-columns: 12% 45% 5% 34%;
    grid-auto-rows: 25px;
    padding-top: 10px;
    width:98%;
    /*background-color:hotpink*/
}
.FileUploadControlDiv1IandSStyle {
    display: grid;
    grid-template-columns: 12% 45% 6% 34%;
    grid-auto-rows: 25px;
    /*padding-top: 5px;*/
    width: 98%;
    /*background-color: hotpink*/
}
.TechConnectImageDivStyle {
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 3%;
    text-align: center;
}
.ButtonDeleteDivStyle {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    padding-top: 4%;
}
.ButtonClearDivStyle {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    padding-top: 4%;
}
.FileUploadControlDiv2Style {
    grid-column: 4;
    grid-row: 1;
    border-top: inset;
    border-left: inset;
    border-right: inset;
    border-color: lightgray;
    border-width: 1px;
    width: 100%;
    position: relative;
}
.FileUploadControlDiv3Style {
    width: 100%;
    height: 100%;
}
.OptionHDropdownStyle {
    width: 100%;
    font-family: 'Segoe UI';
    color: darkblue;
    font-size: 100%;
    height: 28px;
    padding-left: 2%
}
.SeverityDropDownListDiv1Style {
    grid-column: 4;
    grid-row: 1;
}
.SeverityDropDownListDiv2Style {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 35px;
    width: 100%;
}
.SeverityDropDownListDiv3Style {
    grid-column: 1;
    grid-row: 1;
}

